@import 'nib'
@import 'nib/gradients'

azul = #1f66c8
amarillo = #FDE962
azulF = #013968
azulC= #C9E4FF
gris = #668499

body
	background #EEE
	font-family Verdana, Geneva, sans-serif
	overflow-x hidden
	
	
a
	text-decoration none
ul 
	list-style none


header
	background azul
	box-shadow 2px 2px 3px 2px rgba(0,0,0,.3)
	z-index 1
	width 100%
	border-bottom 2px solid yellow
	
	
	section 
		display inline-block
		width 100%
		text-align center
		
		
		
		.header-top
			width 100%
			height 130px
			margin-top .5%


			.logo-section
				width auto
			.banner-section
				width 60%
				margin-left 1%
				img
					width 100%
					height 12
					3px
			.bojorquez-pagina
				text-align center
				h1
					
					color amarillo
					font-size 25px
					text-shadow -1px 1px 2px #555
					line-height 50px
						
		.viajes-bojorquez-link

			a
				color amarillo
				font-size 23px
				font-weight 600
						
		nav
			width 100%
			border-bottom 2px solid red
			text-align center
			margin-top -10px

			ul
				display inline-flex
				width 80%
				margin-left 15%
				margin-bottom 5px
				li
					
					padding 5px 10px
					background linear-gradient(top, white, azulC)
					box-shadow 1px 1px 3px 1px rgba(0,0,0,.3)
					padding-top 10px
					border 0
					a
						font-size 80%
						color azulF
						font-weight bold
				.first-li-nav
					border-top-left-radius 5px
					border-bottom-left-radius 5px
					
				.last-li-nav
					border-top-right-radius 5px
					border-bottom-right-radius 5px
					
				input
					border-radius 8px
					padding 10px
					margin-right 5%
					
				.icon-search
					position absolute
					margin-left -6%
					margin-top 1%
					color azulF
					
.estados-section, .arte-section
	background azulC
	margin-top 5px
	padding 20px
	position absolute
	width 12%
	height 82%
	
	border-radius 10px
	
	h2
		text-align center
		color azulF
		text-shadow -1px 1px 2px #555
		font-size 1.5em	
		margin 0
		padding 0
		width 110%
	ul
		padding 0
		margin 0
		height 70%
		li
			margin 6.8px 0
			height 2.15%
			font-family Verdana
		
			a
				color azulF
				font-size 13px
				
			a:hover
				color azul

.estados-section
	
	margin-left 1%
	box-shadow 3px 3px 8px 3px rgba(0,0,0,.3)

.arte-section
	margin-left 84.5%
	margin-right .4%
	box-shadow -3px 3px 8px 3px rgba(0,0,0,.3)
		
	.banner-li
		height 60%					
		.banner-arte
			text-align center
			margin-top 20px
			padding-top 10px
			border-top 1px solid gris
			height 90%
			img 
				height 143%
				width 100%
			
					

.info-section
	width 64%
	text-align center
	margin-left 18%
	margin-top 30px
	padding-top 1%

	.principal-image
		img
			width 100%
			height 200px
			margin-bottom 40px
		span
			position absolute
			margin-left -50%
			margin-top 40px
			color #ffffff
			font-size 25px
			opacity .5			
		
	
	.videos-youtube
		float left
		width 27%
		height 100%
		
		
		iframe
			margin-bottom 10px
			float left
		
			

		
		
		
	.info-section-el
		text-align right
		width 75%
		margin-left 25%
		
		.info-section-elements
			text-align left
			width 30%
			height 450px
			display inline-block
			padding .5%
			
			
			img
			
				width 100%
				height 150px
				margin-bottom 30px
			h4
				text-align center
				a
					color #007C92
					font-size 15px
					font-weight 700
			p
	
				display table-cell
				color #444
				font-size 13px
				height 150px
				padding 0 5px
				a
					color #007C92
					font-size 14px

		.info-section-elements:hover
			h4
				a
					
					color #002664
			img
				width 100%
				height 155px
				opacity .6	
	img
		width 100%
		height 90px
		

.galeria-section
	width 64%
	text-align center
	margin-left 18%
	margin-top 30px
	padding-top 1%
	height 100%
		
	.principal-image
		img
			width 100%
			height 200px
			margin-bottom 40px
		span
			position absolute
			margin-left -50%
			margin-top 40px
			color #ffffff
			font-size 25px
			opacity .5
			font-weight 100
	.galeria-section-videos
		.galeria-nav
			padding 10px
			
			h2 
				color azulF
				font-size 20px
				text-align left
				margin-left 20px
			ul
				width 97%
				li
					display inline-block
					margin-left 20px
					border-radius 10px
					margin-top 10px
					box-shadow 1px 1px 3px 1px rgba(0,0,0,.3)
					button
						outline 0
						border 0
						font-size 18px
						border-radius 10px
						

				li:hover
					button
						color azulF
				.first-li
					margin-left -30px
			
		.videos-galeria-section
			height 100%
			padding 1%
			
			.video-principal, .opciones-videos
				width 48%
				display inline-block

				iframe
					width 100%
					height 314px
					margin-top 7px
					
			.opciones-videos

				.video-section-elements
					width 30%
					height 193px
					display inline-block
					verical-align middle
					margin 0
					margin-left 6px
					margin-top -12px
					iframe
						width 100%
						height 50%
					span
						color gris 
						font-size 15px
	img
		width 100%
		height 90px
						
.estado-info-section
	width 64%
	margin-left 18%
	margin-top 30px
	padding-top 1%
	height 110%

	
	.principal-image
		img
			width 100%
			height 200px
			margin-bottom 40px
		span
			position absolute
			margin-left -50%
			margin-top 40px
			color #ffffff
			font-size 25px
			opacity .5
			font-weight 100
	
	.estado-descripcion
		width 60%
		text-align center
		display inline-block
		h2
			font-size 25px
			color azulF
			text-align center
			display inline-block
		a
			color azul
			font-size 15px
			margin-left 40%
		
		img
			margin 2%
			
		.estado-escudo
			width 30%
			height 30%
			ma
		p
			text-align justify

		.estado-image-section 
			width 30%
			float left
			margin 3%
			
			
			img
				width 100%
				height 110px
			span
				color azulF
				font-weight bold
				font-size 13px
		.segunda-imagen
			float right
	.estado-info-tabla
		float right
		width 35%
		text-align center
		h2
			color azulF
			font-size 25px
		img
			width 100%
			margin-bottom 50px
		table
			width 100%
			border-spacing 2px
			tbody
				display table-row-group
				verical-align middle
				border-color inherit
				tr
					display table-row
					verical-align inherit
					border-color inherit
					background white
					text-align left
					td
						padding 5px
						margin-bottom 10px
						color azulF
						a
							color azulF
				.tabla-titulo
					background azulC
					color azulF
					text-align right
					border-bottom 2px solid yellow
					td
						color azulF
					
				
						

	
.estado-municipios-lista-section
	width 64%
	margin-left 18%
	margin-top 30px
	padding-top 1%
	height 110%
	text-align center
	
	img
		margin-bottom 50px
	h2
		font-size 30px
		color azulF

	table
		text-align left
		background azulC
		width 80%
		margin-left 10%
		padding 1%
		tr:nth-child(n)
			border 1px solid
			background azulC
			th 
				padding 10px
				color azul
				text-align left
				font-size 20px
				
			td
				padding 5px
				color azulF
				font-weight 100
				a
					color azulF
				a:hover
					text-decoration underline
		tr:nth-child(2n)
			border 1px solid
			background azulF
			padding 1%
			td
				padding 5px
				color azulC
				font-weight 100
				a
					color azulC
				a:hover
					text-decoration underline
	.banner-abajo
		width 80%
		margin 0
		padding 0
		margin-top 50px
					
.estado-municipio-elemento-section
	width 64%
	margin-left 18%
	margin-top 30px
	padding-top 1%
	height 110%

	.estado-municipio-info
		width 60%
		display inline-block
		text-align center
		img

			margin-bottom 50px
		h2
			font-size 30px
			color azulF
		a 
			margin-right 100%
			color azul
			font-size 18px
		p
			text-align justify
			margin-top 50px
		.imagen-municipio-1, .imagen-municipio-2
			width 20%
			height 150px
			margin 2%
		.imagen-municipio-1
			float left
		.imagen-municipio-2
			float right
			
		.banner-abajo
			width 100%
			height 90px
			margin-top 50px
	.municipio-info-tabla
		float right
		width 35%
		text-align center
		h2
			color azulF
			font-size 25px
		table
			width 100%
			border-spacing 2px
			tbody
				display table-row-group
				verical-align middle
				border-color inherit
				tr
					display table-row
					verical-align inherit
					border-color inherit
					background white
					text-align left
					td
						padding 5px
						margin-bottom 10px
						color azulF
						a
							color azulF
				.tabla-titulo
					background azulC
					color azulF
					text-align right
					border-bottom 2px solid yellow
					td
						color azulF
		

	.banner-abajo
		width 100%


					
footer
	
	text-align left
	margin-top 20px
	width auto
	height 30px
	text-align center
	background azul
	padding 10px
	padding-bottom 5%
	
	h3
		font-size 15px
		color white
		text-shadow -1px 1px 2px black
		text-align left
		margin-left 20%
	ul
		display block
		text-align center
		width 100%
		margin 0
		padding 0
		
		li
			display inline-block
			margin 8px 0 8px 15px
			padding-right 20px
			font-size 15px
			a
				color amarillo
				font-weight bold
				font-style normal
			a:hover
				color white
	
	.parrafo-footer
		text-align center
		width 60%
		margin-left 20%

	
		p
			font-size 10px
			color white
			font-style italic
		span
			font-size 12px
			color white
			float right
			a
				font-size 14px
				color amarillo
				font-weight bold
				font-size 10px
			a:hover
				color white
					