doctype html

html
	head
		title
		meta(charset="utf-8")
		//meta(http-equiv="refresh", content="2")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/font-style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rock+Salt|Asap|Roboto", type="text/css")

	body
		header
			section(class="header-banner")
				img(src="img/banner-publi.png", alt="Banner Publicitario")

			section(class="header-nav")
				section(class="logo-image")
					a(href="")
						img(src="img/guia-turistica-big.png", alt="")
				section(class="")
					nav
						h1 
							a(href="") ViajesBojorquez.com.mx
						ul
							li
								a(href="")
									section(class="")
							li
								a(href="") Traza tu ruta 
							li
								a(href="") Visas y embajadas 
							li
								a(href="") Claves Lada
							li
								a(href="") Códigos Postales
							li
								a(href="") Mapas
							li
								a(href="") Arte y Cultura
							li
								a(href="") Estados

		section(class="estados-section-fixed")
			h2 Estados
			section
				ul
					li
						a(href="") Aguascalientes
					li
						a(href="") Baja California
					li
						a(href="") Baja California Sur
					li
						a(href="") Campeche
					li
						a(href="") Chiapas
					li
						a(href="") Chihuahua
					li
						a(href="") Coahuila
					li
						a(href="") Colima
					li
						a(href="") Distrito Federal
					li
						a(href="") Durango
					li
						a(href="") Estado de México
					li
						a(href="") Guanajuato
					li
						a(href="") Guerrero
					li
						a(href="") Hidalgo
					li
						a(href="") Jalisco
					li
						a(href="") Michoacan de Ocampo
					li
						a(href="") Morelos
					li
						a(href="") Nayarit
					li
						a(href="") Nuevo León
					li
						a(href="") Oaxaca
					li
						a(href="") Puebla
					li
						a(href="") Querétaro
					li
						a(href="") Quintana Roo
					li
						a(href="") San Luis Potosí
					li
						a(href="") Sinaloa
					li
						a(href="") Sonora
					li
						a(href="") Tabasco
					li
						a(href="") Tamaulipas
					li
						a(href="") Tlaxcala
					li
						a(href="") Veracruz
					li
						a(href="") Yucatán
					li
						a(href="") Zacatecas
					
		section(class="arte-cultura-section-fixed")
			h2 Arte y Cultura
			section
				input(type="text" placeholder="Buscar")
				section(class="icon-search-section")
					span(class="icon-search")
			ul
				li
					a(href="") Destinos
				li
					a(href="") Historia
				li
					a(href="") Personajes
				li
					a(href="") Leyendas
				li
					a(href="") Gastronomía
				li
					a(href="") Delebraciones y Festivales
				li
					a(href="") Zonas Arqueológicas
				li
					a(href="") Cultura Nacional
				li
					a(href="") Naturaleza
				li
					a(href="") Videos



		section(class="info-section")
			//section
				h2
					a( class="tu-guia-util",href="") Tu Guía Útil
		
			section(class="principal-image")
					img(src="img/Header-image1.png", alt="")

			section(class="info-relevant")

				iframe(width="80%", height="100%", src="https://www.youtube.com/embed/e8XMVYkcjQA", frameborder="0", allowfullscreen)

				iframe(width="80%", height="100%", src="https://www.youtube.com/embed/BVmiUuOmixo", frameborder="0", allowfullscreen)

				iframe(width="80%", height="100%", src="https://www.youtube.com/embed/pU-vyVKlUDs", frameborder="0", allowfullscreen)

				iframe(width="80%", height="100%", src="https://www.youtube.com/embed/Yo55Qs6mHuU", frameborder="0", allowfullscreen)

				iframe(width="80%", height="100%", src="https://www.youtube.com/embed/oCKywHaziB0", frameborder="0", allowfullscreen)

				iframe(width="80%", height="100%", src="https://www.youtube.com/embed/8Uq5wLCIvhc", frameborder="0", allowfullscreen)

				iframe(width="80%", height="100%", src="https://www.youtube.com/embed/fa6-5Qo4TIU", frameborder="0", allowfullscreen)

				iframe(width="80%", height="100%", src="https://www.youtube.com/embed/GfKWAWM4bcI", frameborder="0", allowfullscreen)




			section(class="info-section-el")
				section(class="info-section-elements")

					h4
						a(href="") Manuel Felgueréz
					img(src="img/GT-1.jpg", alt="")
					p Manuel Felguérez nació el 12 de Diciembre de 1928 en el seno de una familia aristocrática. Fue hijo primogénito de un terrateniente de Zacatecas, que perdería gran parte de sus propiedades al ser éstas expropiadas sin indemnización por el gobierno mexicano.
				

				section(class="info-section-elements")
					h4
						a(href="") Feria del Globo, Milpa Alta
					img(src="img/GT-2.jpg", alt="")
					p En este bello lugar se le da una connotación muy especial a la fiesta de difuntos: la elevación de globos y faroles de papel de china. Como si los vivos quisieran elevar su alegría multicolor a las alturas, mientras que los difuntos, con el permiso celestial, están presentes entre los vivos, saboreando las suculentas ofrendas.
					
				
				section(class="info-section-elements")
					h4
						a(href="") Cuajilote
					img(src="img/GT-3.jpg", alt="")
					p Esta región fue receptora y redistribuidora comercial, aprovechando la red de comunicaciones demarcada por la fisiografía. Posteriormente, esta red fue ampliamente aprovechada por los Mexicas en su expansión hacia el Golfo, convirtiendo a los asentamientos del valle en tributarios de la triple alianza.
					
				
				section(class="info-section-elements")
					h4
						a(href="") Marimba chiapaneca
					img(src="img/GT-4.jpg", alt="")
					p La marimba tradicional mexicana proviene de Tabasco, Chiapas y Guatemala, y tiene su origen en instrumentos que introdujeron los esclavos negros en la época de la conquista, aunque es difícil definir su origen debido a que las tradiciones de los tres lugares están muy mezcladas.
				
				
				section(class="info-section-elements")
					h4
						a(href="") Barrancas del Cobre
					img(src="img/GT-5.jpg", alt="")
					p Sobre una extensión de 600 km de longitud y 250 km de anchura se extienden las majestuosas Barrancas del Cobre, parque natural ubicado dentro del estado de Chihuahua.
				
				
				section(class="info-section-elements")
					h4
						a(href="") Isla Mujeres
					img(src="img/gt-6.jpg", alt="")
					p Las primeras noticias de Isla Mujeres datan del periodo comprendido entre el 564 y el 1516 dC, y la ubican como una provincia maya de Ekab, una de las cuatro provincias o territorios mayas que integraban lo que es hoy el estado de Quintana Roo.
				

				section(class="info-section-elements")
					h4
						a(href="") Ixtapa Zihuatanejo
					img(src="img/GT-7.jpg", alt="")
					p Existen dos versiones sobre el significado de la palabra Zihuatanejo, una tiene origen en los vocablos en purépechas itzi: agua, huata: cerro y nejo: amarillo verdoso, que en conjunto se expresa como "Agua del cerro amarillo".
				

				section(class="info-section-elements")
					h4
						a(href="") La casa de los azulejos
					img(src="img/GT-8.jpg", alt="")
					p La Casa de los Azulejos es un palacio ubicado en el centro histórico de la Ciudad de México (entre las Calle Francisco I. Madero y la Calle Cinco de Mayo), construido durante la época colonial.

				section(class="info-section-elements")
					h4
						a(href="") Tajín
					img(src="img/GT-9.jpg", alt="")
					p La antigua ciudad de El Tajín se desarrolló a fines del horizonte Clásico, y llegó a su apogeo en la transición al Posclásico, o sea entre 800 y 1150.

		footer
			h3 Acerca de nosotros
			ul
				li
					a(href="") ¿Qué es la Guía Turística México?
				li
					a(href="") Contacto
				li
					a(href="") Términos de Uso
				li
					a(href="") Políticas de privacidad
			p Copyright Guía Turística México © 2015. Todos los derechos reservados. Prohibida la reproducción parcial o total sin previa autorización expresa y por escrito de Directorios y Guías VB SA de CV. Génova 20-5, colonia Juárez, C.P. 06600, México D.F.
			span Desarrollado por 
				a(href="") Meinen.mx








