doctype html
html
	head
		title
		link(rel="stylesheet", href="../css/normalize.css")
		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/font-style.css")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

	body
		header
			section
				section.header-top
					section.logo-section
						img.logo-image(src="../img/guia-turistica-big.png", alt="Imagen-Logo")
					section.banner-section
						img(src="../img/banner-publi.jpg", alt="Banner-Publicitario")
				nav
					ul
						li
							a(href="../index.html")
								span.icon-home3
						li
							a(href="") Claves Lada
						li
							a(href="") Códigos Postales
						li
							a(href="") Mapas
						li
							a(href="") Traza tu ruta
						li
							a(href="") Visas y embajadas
		section.estados-section
			h2 Estados
			ul
					li
						a(href="") Aguascalientes
					li
						a(href="") Baja California
					li
						a(href="") Baja California Sur
					li
						a(href="") Campeche
					li
						a(href="") Chiapas
					li
						a(href="") Chihuahua
					li
						a(href="") Coahuila
					li
						a(href="") Colima
					li
						a(href="") Distrito Federal
					li
						a(href="") Durango
					li
						a(href="") Estado de México
					li
						a(href="") Guanajuato
					li
						a(href="") Guerrero
					li
						a(href="") Hidalgo
					li
						a(href="") Jalisco
					li
						a(href="") Michoacán
					li
						a(href="") Morelos
					li
						a(href="") Nayarit
					li
						a(href="") Nuevo León
					li
						a(href="") Oaxaca
					li
						a(href="") Puebla
					li
						a(href="") Querétaro
					li
						a(href="") Quintana Roo
					li
						a(href="") San Luis Potosí
					li
						a(href="") Sinaloa
					li
						a(href="") Sonora
					li
						a(href="") Tabasco
					li
						a(href="") Tamaulipas
					li
						a(href="tlaxcala.html") Tlaxcala
					li
						a(href="") Veracruz
					li
						a(href="") Yucatán
					li
						a(href="") Zacatecas

		section.arte-section
			section.buscador-section
				input(type="text" placeholder="Buscar")
				span.icon-search
			h2 Arte y Cultura
			ul
				li
					a(href="") Destinos
				li
					a(href="") Historia
				li
					a(href="") Personajes
				li
					a(href="") Leyendas
				li
					a(href="") Gastronomía
				li
					a(href="") Festivales
				li
					a(href="") Zonas Arqueológicas
				li
					a(href="") Cultura Nacional
				li
					a(href="") Naturaleza
				li
					a(href="videos.html") Videos
				li.banner-li
					section.banner-arte
						img(src="../img/banner-arte.jpg", alt="Banner-Publicitario")

			

		section(class="estado-municipios-lista-section")
			img(src="../img/tlaxcala-escudo.jpg", class="imagen-estado")
			h2 Tlaxcala
			table
				tr
					th  Municipio
					th Población
					th Superficie
				tr
					td 
						a(href="municipio-Tlax.html", id="Acuamanala-Tlaxcala",class="municipios-tlaxcala") Acuamanala de Miguel Hidalgo
					td 711 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Altzayanca-Tlaxcala",class="municipios-tlaxcala") Altzayanca
					td 15 hab.
					td 41.520 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Amaxac-Tlaxcala",class="municipios-tlaxcala") Amaxac de Guerrero
					td 9 875 hab.
					td 12.870 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Apetatitlan-Tlaxcala",class="municipios-tlaxcala") Apetatitlán de Antonio Carvajal
					td 13 hab.
					td 7.270 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Apizaco-Tlaxcala",class="municipios-tlaxcala") Apizaco
					td 76 hab.
					td 56.830 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Atlangatepec-Tlaxcala",class="municipios-tlaxcala") Atlangatepec
					td 5 487 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Benito-Tlaxcala",class="municipios-tlaxcala") Benito Juárez
					td 5 687 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Calpulalpan-Tlaxcala",class="municipios-tlaxcala") Calpulalpan
					td 44 hab.
					td 274.750 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Chiautempan-Tlaxcala",class="municipios-tlaxcala") Chiautempan
					td 10 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Contla-Tlaxcala",class="municipios-tlaxcala") Contla de Juan Cuamatzi
					td 35 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Cuapiaxtla-Tlaxcala",class="municipios-tlaxcala") Cuapiaxtla
					td 13 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Cuaxomulco-Tlaxcala",class="municipios-tlaxcala") Cuaxomulco
					td 5 066 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tequexquitla-Tlaxcala",class="municipios-tlaxcala") El Carmen Tequexquitla
					td 13 926 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Emiliano-Tlaxcala",class="municipios-tlaxcala") Emiliano Zapata
					td 4 146 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Españita-Tlaxcala",class="municipios-tlaxcala") Españita
					td 8 399 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Huamantla-Tlaxcala",class="municipios-tlaxcala") Huamantla
					td 84 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Hueyotlipan-Tlaxcala",class="municipios-tlaxcala") Hueyotlipan
					td 12 705 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Ixtacuixtla-Tlaxcala",class="municipios-tlaxcala") Ixtacuixtla de Mariano Matamoros
					td 32 574 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Ixtenco-Tlaxcala",class="municipios-tlaxcala") Ixtenco
					td 6 279 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Magdalena-Tlaxcala",class="municipios-tlaxcala") La Magdalena Tlaltelulco
					td 16 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Lázaro-Tlaxcala",class="municipios-tlaxcala") Lázaro Cárdenas
					td 2 548 hab.
					td 25.440 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Mazatecochco-Tlaxcala",class="municipios-tlaxcala") Mazatecochco de José María Mor
					td 9 740 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Muñoz-Tlaxcala",class="municipios-tlaxcala") Muñoz de Domingo Arenas
					td 4 285 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Nanacamilpa-Tlaxcala",class="municipios-tlaxcala") Nanacamilpa de Mariano Arista
					td 16 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Nativitas-Tlaxcala",class="municipios-tlaxcala") Nativitas
					td 23 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Panotla-Tlaxcala",class="municipios-tlaxcala") Panotla
					td 22 368 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Papalotla-Tlaxcala",class="municipios-tlaxcala") Papalotla de Xicohténcatl
					td 26 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Texoloc-Tlaxcala",class="municipios-tlaxcala") San Damián Texoloc
					td 5 064 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tetlanohcan-Tlaxcala",class="municipios-tlaxcala") San Francisco Tetlanohcan
					td 19 880 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Zacualpan-Tlaxcala",class="municipios-tlaxcala") San Jerónimo Zacualpan
					td 3 066 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Teacalco-Tlaxcala",class="municipios-tlaxcala") San José Teacalco
					td 6 577 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Huactzinco-Tlaxcala",class="municipios-tlaxcala") San Juan Huactzinco
					td 6 577 hab.
					td 4440.000 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Axocomanitla-Tlaxcala",class="municipios-tlaxcala") San Lorenzo Axocomanitla
					td 4 817 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tecopilco-Tlaxcala",class="municipios-tlaxcala") San Lucas Tecopilco
					td 2 623 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Pablo-Tlaxcala",class="municipios-tlaxcala") San Pablo del Monte
					td 64 107 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Sanctorum-Tlaxcala",class="municipios-tlaxcala") Sanctórum de Lázaro Cárdenas
					td 2 769 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Nopalucan-Tlaxcala",class="municipios-tlaxcala") Santa Ana Nopalucan
					td 6 074 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Teacalco-Tlaxcala",class="municipios-tlaxcala") Santa Apolonia Teacalco
					td 3 860 hab.
					td 7.910 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Ayometla-Tlaxcala",class="municipios-tlaxcala") Santa Catarina Ayometla
					td 7 306 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Quilehtla-Tlaxcala",class="municipios-tlaxcala") Santa Cruz Quilehtla
					td 5 379 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="SC-Tlaxcala-Tlaxcala",class="municipios-tlaxcala") Santa Cruz Tlaxcala
					td 17 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Xiloxoxtla-Tlaxcala",class="municipios-tlaxcala") Santa Isabel Xiloxoxtla
					td 4 118 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tenancingo-Tlaxcala",class="municipios-tlaxcala") Tenancingo
					td 10 632 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Teolocholco-Tlaxcala",class="municipios-tlaxcala") Teolocholco
					td 19 435 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tepetitla-Tlaxcala",class="municipios-tlaxcala") Tepetitla de Lardizábal
					td 18 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tepeyanco-Tlaxcala",class="municipios-tlaxcala") Tepeyanco
					td 11 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Terrenate-Tlaxcala",class="municipios-tlaxcala") Terrenate
					td 13 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tetla-Tlaxcala",class="municipios-tlaxcala") Tetla de la Solidaridad
					td 28 hab.
					td 145.480 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tetlatlahuca-Tlaxcala",class="municipios-tlaxcala") Tetlatlahuca
					td 12 hab.
					td 19.230 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tlaxcala-Tlaxcala",class="municipios-tlaxcala") Tlaxcala
					td 83 748 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tlaxco-Tlaxcala",class="municipios-tlaxcala") Tlaxco
					td 36 506 hab.
					td 556910.000 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tocatlán-Tlaxcala",class="municipios-tlaxcala") Tocatlán
					td 5 033 hab.
					td 10.940 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Totolac-Tlaxcala",class="municipios-tlaxcala") Totolac
					td 19 606 hab.
					td 24270.000 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Tzompantepec-Tlaxcala",class="municipios-tlaxcala") Tzompantepec
					td 14 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Xaloztoc-Tlaxcala",class="municipios-tlaxcala") Xaloztoc
					td 19 642 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Xaltocan-Tlaxcala",class="municipios-tlaxcala") Xaltocan
					td 9 777 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Xicohtzinco-Tlaxcala",class="municipios-tlaxcala") Xicohtzinco
					td 12 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Yauhquemecan-Tlaxcala",class="municipios-tlaxcala") Yauhquemecan
					td 33 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Zacatelco-Tlaxcala",class="municipios-tlaxcala") Zacatelco
					td 38 hab.
					td 4060.923 km2.
				tr
					td 
						a(href="municipio-Tlax.html", id="Zitlaltepec-Tlaxcala",class="municipios-tlaxcala") Zitlaltepec de Tridad Sánchez
					td 8 229 hab.
					td 4060.923 km2.



		

		footer
			h3 Acerca de nosotros
			ul
				li
					a(href="") ¿Qué es la Guía Turística México?
				li
					a(href="") Contacto
				li
					a(href="") Términos de Uso
				li
					a(href="") Políticas de privacidad
			section.parrafo-footer
				p Copyright Guía Turística México © 2015. Todos los derechos reservados. Prohibida la reproducción parcial o total sin previa autorización expresa y por escrito de Directorios y Guías VB SA de CV. Génova 20-5, colonia Juárez, C.P. 06600, México D.F.
				span Desarrollado por 
					a(href="") Meinen.mx


	script(src="../scripts/jquery.js")
	script(src="../scripts/jquery.cookie.js")
	script(src="../scripts/jquery-changes.js")









