doctype html
html
	head
		title
		link(rel="stylesheet", href="../css/normalize.css")
		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/font-style.css")
		link(rel="import", href="../polymer-elements/header.html")
		link(rel="import", href="../polymer-elements/estados.html")
		link(rel="import", href="../polymer-elements/arte-cultura.html")
		link(rel="import", href="../polymer-elements/header-min.html")
		link(rel="import", href="../polymer-elements/tabla-estado.html")
		script(src="../bower_components/webcomponentsjs/webcomponents-lite.min.js")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

	body
		header-min-polymer
		header-polymer
		estados-polymer
		ac-polymer
			
		section(class="estado-info-section")

			div(class="principal-image")
					img(src="../img/Header-image1.jpg", alt="")
					span(class="header-image-name") Chichén Itzá
						span Yucatán
			div(class="estado-informacion")
				div(class="personaje-descripcion")
					h2 El Aparecido de Chambergo

					p Asistir de mañana a los oficios religiosos, era una de las más añejas costumbres entre las familias aguascalentenses. Con frecuencia se veía al jefe de la casa acompañado de su esposa y sus hijos cumpliendo con la devoción de asistir a la misa del alba para quedar tranquilos durante el día. Don Margarito López y su hermano Néstor, unos de los primeros fundadores del Barrio de San Marcos, vivían en la calle de Hebe (ahora Manuel M. Ponce) sus residencias eran de las mejores de la cuadra; en cantera rosa, decorada al estilo dórico, y ricamente amuebladas. Se decía que eran los propietarios de las enormes huertas que casi daban al río de los Pirules y su fama de adinerados, se conocía por toda la Villa, así como de hombres piadosos y caritativos.chambergo Tenían la costumbre de invitar a varios amigos para que juntos, participarán en la Sagrada Eucaristía y después de la misa, que generalmente era en el Templo de Guadalupe, -barrio pegado al de San Marcos- los invitaban a desayunar a su casa y cambiarse la información del día anterior, para después cada uno seguir sus labores. Esto lo practicaron por mucho tiempo, lo que se había convertido en una costumbre de la familia López. Se cuenta que corría el año de gracia de 1860, era una lluviosa mañana de septiembre, cuando Don Margarito salió de su casa, pasó por su hermano Néstor y en el camino se les juntaron don Lucas Infante con su familia y otras personas, los que iban a toda prisa porque la campana de la iglesia estaba dando la última llamada. La esposa de don Néstor estaba preocupada, comentó con sus amigas porque su hijita seguía muy grave y que según el médico, sólo un milagro podría salvarla. Iba a la iglesia con gran fe para pedirle a Dios por su pequeña Lupita, para que no se la llevara, porque era la alegría de su vida. La caravana seguía caminando de prisa, todos iban alegres disfrutando del fresco de la mañana, de su olor a tierra mojada y de las bromas que entre los señores se hacían. Sólo la esposa de don Néstor llevaba su pensamiento fijo en la niña que había dejado enfermita en su casa. De pronto, al dar vuelta en una esquina, a unos cuantos pasos de la huerta que era de los señores Leos, se apareció un individuo demasiado alto, enfundado en un traje negro y con un chambergo de ala monstruosa. Al irse acercando al grupo, todos experimentaron un escalofrío tal, que comenzaron a temblar como hojas. Aquella figura, segundos más tarde desapareció.

					img(src="../img/GT-0.jpg" class="imagen-personaje")


					p En silencio llegaron al templo. Nadie se atrevía a hablar de lo que había visto. Una vez que terminó la misa, se despidieron del sacerdote y con excusas de no poder desayunar en la casa de Don Margarito López, cada familia se fue rumbo a su casa. Al día siguiente se volvieron a reunir todos los amigos con su prole y juntos atravesaron la plaza de San Marcos para tomar la vereda "estrecha y tupida de mogotes que principiaba en la bocacalle de Rivera", y en el mismo lugar, volvió a salir aquella extraña figura, que dejó sin respiración a los paseantes los que tranquilos se dirigían a participar del oficio religioso. Y este encuentro se hizo cotidiano por un mes. Algunas personas ya no querían asistir a la misa del alba, pero las familias de Don Margarito y Don Néstor continuaron con su costumbre de años, y a los pocos días todos reanudaron los encuentros mañaneros. Ya se atrevían a comentar del extraño aparecido que como exhalación pasaba junto al grupo, sin decir una sola palabra. Algunos decían que era un hombre extravagante, un maniático que gustaba también salir a la hora del alba a tomar el fresco. Pero otros, no pensaban así, se atrevían a hablar del fantasma, de una alma en pena... los niños le decían "el aparecido de la vereda". Pero todos en el fondo sentían temor de que fuera algo sobrenatural, aquella figura con monstruoso chambergo y enfundado en un extraño traje negro que le tapaba hasta el cuello, dejándole ver sólo unos ojos redondos y negros como capulines. Un día, en el mes de noviembre de ese año, cuando el grupo presidido por Don Margarito, iban rezando el rosario a la Virgen de Guadalupe (se acostumbraba rezar cuarenta rosarios terminando el día 12 de diciembre) cuando de pronto, el aparecido no sólo pasó cerca de ellos, sino que se paró y con una voz de ultratumba y dirigiéndose a don Néstor dijo: "Túúúúúúú... Néééééstooooor,... tienes... uuunaa... eeenffermmitaa... llévame... con ella... yooo tee laa curaaréé". Al escucharse aquella voz, lanzaron gritos, corrieron en distintas direcciones y sin saber cómo llegaron al Templo de Guadalupe, oyeron la misa con gran devoción y al terminar fueron con el sacerdote a platicarle lo sucedido y pedirle un consejo ¿sería bueno regar agua bendita por todo el camino? ¿podrían dar parte a la policía? El capellán les aconsejó que accedieran a la petición de aquel hombre. Que a veces había cosas inexplicables y a lo mejor podría ayudar a la niña de Don Néstor que se estaba muriendo. Haciendo alarde de machismo los amigos de los señores López se ofrecieron acompañarlos al día siguiente. No así las señoras y los niños los que se habían enfermado del susto. Y por ningún motivo querían volver a pasar por las huertas del señor Leos. Al llegar al lugar señalado, se les volvió a aparecer el fantasma... al preguntarle a Don Margarito, si era de esta vida o de la otra, el hombre retrocedió dos pasos hacia atrás y dijo: "¡mi deseo es curar a la niña!". Sin decir una palabra más desapareció. Después que regresó Don Néstor a su casa supo que aquel individuo se encontraba en la habitación de su hija. Decía un rezo muy largo con gran parsimonia y ademanes extraños, puso una mano en la cara de la pequeña, la que quedó estampada para siempre en ella. Poco a poco la hija de Don Néstor abrió los ojos, se sentó en la cama y pidió de comer. A los cuantos días Lupita estaba jugando en el Jardín de San Marcos, con sus amiguitas como si nada le hubiera pasado; sólo en su carita tenía una marca como de dedos pintados. Desde aquel día el hombre del monstruoso chambergo desapareció para siempre, pero la familia de los López, siguió con sus costumbres de asistir diariamente a sus oficios religiosos, cambiaron de vereda, no volvieron a pasar más por la calle de Rivera, ahora su camino era la calle de Democracia (ahora Eduardo J. Correa) para así poder llegar al templo. Aquel hecho insólito fue muy comentado no sólo en el barrio, sino en todo Aguascalientes y todavía por el año de 1880 se hablaba de los que les había sucedido a los López, pero ya se platicaba como una leyenda, la que ahora recogemos.
			img(src="../img/banner-publi.jpg", alt="", class="banner-abajo")
					
		footer
			ul
				li
					a(href="https://www.youtube.com/watch?v=6RuDx0RKjok") ¿Qué es la Guía Turística México?
				li
					a(href="") Contacto
				li
					a(href="") Términos de Uso
				li
					a(href="") Políticas de privacidad
			div.parrafo-footer
				p Copyright Guía Turística México © 2015. Todos los derechos reservados. Prohibida la reproducción parcial o total sin previa autorización expresa y por escrito de Directorios y Guías VB SA de CV. Génova 20-5, colonia Juárez, C.P. 06600, México D.F.
				span Desarrollado por 
					a(href="") Meinen.mx


	script(src="../scripts/jquery.js")
	script(src="../scripts/jquery.cookie.js")
	script(src="../scripts/jquery-changes.js")









