doctype html
html
	head
		title
		link(rel="stylesheet", href="../css/normalize.css")
		link(rel="stylesheet", href="../css/style.css")
		link(rel="stylesheet", href="../css/font-style.css")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

	body
		header
			section
				section.header-top
					section.logo-section
						img.logo-image(src="../img/guia-turistica-big.png", alt="Imagen-Logo")
					section.banner-section
						img(src="../img/banner-publi.jpg", alt="Banner-Publicitario")
				section.viajes-bojorquez-link
					a(href="http://www.viajesbojorquez.com.mx/") ViajesBojorquez.com	
				nav
					ul
						li
							a(href="../index.html")
								span.icon-home3
						li
							a(href="") Claves Lada
						li
							a(href="") Códigos Postales
						li
							a(href="") Mapas
						li
							a(href="") Traza tu ruta
						li.last-li-nav
							a(href="") Visas y embajadas
						input(type="text", placeholder="Buscar")
						span.icon-search
		section.estados-section
			h2 Estados
			ul
					li
						a(href="") Aguascalientes
					li
						a(href="") Baja California
					li
						a(href="") Baja California Sur
					li
						a(href="") Campeche
					li
						a(href="") Chiapas
					li
						a(href="") Chihuahua
					li
						a(href="") Coahuila
					li
						a(href="") Colima
					li
						a(href="") Distrito Federal
					li
						a(href="") Durango
					li
						a(href="") Estado de México
					li
						a(href="") Guanajuato
					li
						a(href="") Guerrero
					li
						a(href="") Hidalgo
					li
						a(href="") Jalisco
					li
						a(href="") Michoacán
					li
						a(href="") Morelos
					li
						a(href="") Nayarit
					li
						a(href="") Nuevo León
					li
						a(href="") Oaxaca
					li
						a(href="") Puebla
					li
						a(href="") Querétaro
					li
						a(href="") Quintana Roo
					li
						a(href="") San Luis Potosí
					li
						a(href="") Sinaloa
					li
						a(href="") Sonora
					li
						a(href="") Tabasco
					li
						a(href="") Tamaulipas
					li
						a(href="tlaxcala.html") Tlaxcala
					li
						a(href="") Veracruz
					li
						a(href="") Yucatán
					li
						a(href="") Zacatecas

		section.arte-section
			h2 Arte y Cultura
			ul
				li
					a(href="") Destinos
				li
					a(href="") Historia
				li
					a(href="") Personajes
				li
					a(href="") Leyendas
				li
					a(href="") Gastronomía
				li
					a(href="") Festivales
				li
					a(href="") Zonas Arqueológicas
				li
					a(href="") Cultura Nacional
				li
					a(href="") Naturaleza
				li
					a(href="videos.html") Videos
				li.banner-li
					section.banner-arte
						img(src="../img/banner-arte.jpg", alt="Banner-Publicitario")

			

		section(class="galeria-section")
			section(class="principal-image")
					img(src="../img/Header-image1.jpg", alt="")
					span(class="header-image-name") Chichén Itzá
						span Yucatán
			section(class="galeria-section-videos")
				section(class="galeria-nav")
					h2 Videos Guia Turistica
					nav
						ul
							li(class="first-li")
								button Destinos
							li
								button Historia
							li
								button Personajes
							li
								button Leyendas
							li
								button Gastronomía
							li
								button Festivales
							li
								button Zonas Arqueológicas
							li
								button Cultura Nacional
							li
								button Naturaleza
				section(class="videos-galeria-section")
					section(class="video-principal")
						iframe(width="80%", height="100%", src="https://www.youtube.com/embed/e8XMVYkcjQA", frameborder="0", allowfullscreen)

				
					section(class="opciones-videos")
						section(class="video-section-elements")

							iframe(width="80%", height="100%", src="https://www.youtube.com/embed/pU-vyVKlUDs", frameborder="0", allowfullscreen)
							span Descripción del video
						section(class="video-section-elements")
							
							iframe(width="80%", height="100%", src="https://www.youtube.com/embed/Yo55Qs6mHuU", frameborder="0", allowfullscreen)
							span Descripción del video
						section(class="video-section-elements")

							iframe(width="80%", height="100%", src="https://www.youtube.com/embed/oCKywHaziB0", frameborder="0", allowfullscreen)
							span Descripción del video
						section(class="video-section-elements")
						
							iframe(width="80%", height="100%", src="https://www.youtube.com/embed/8Uq5wLCIvhc", frameborder="0", allowfullscreen)
							span Descripción del video
						section(class="video-section-elements")

							iframe(width="80%", height="100%", src="https://www.youtube.com/embed/GfKWAWM4bcI", frameborder="0", allowfullscreen)
							span Descripción del video
						section(class="video-section-elements")
						
							iframe(width="80%", height="100%", src="https://www.youtube.com/embed/fa6-5Qo4TIU", frameborder="0", allowfullscreen)
							span Descripción del video
			img(src="../img/banner-publi.jpg", alt="Banner-Publicitario")
			

		footer
			h3 Acerca de nosotros
			ul
				li
					a(href="") ¿Qué es la Guía Turística México?
				li
					a(href="") Contacto
				li
					a(href="") Términos de Uso
				li
					a(href="") Políticas de privacidad
			section.parrafo-footer
				p Copyright Guía Turística México © 2015. Todos los derechos reservados. Prohibida la reproducción parcial o total sin previa autorización expresa y por escrito de Directorios y Guías VB SA de CV. Génova 20-5, colonia Juárez, C.P. 06600, México D.F.
				span Desarrollado por 
					a(href="") Meinen.mx


	script(src="../scripts/jquery.js")
	script(src="../scripts/jquery.cookie.js")
	script(src="../scripts/jquery-changes.js")









