link(rel="import", href="../bower_components/polymer/polymer.html")
link(rel="stylesheet", href="../css/style.css")
dom-module(id="header-polymer")
	template
		header
			div.guia-turistica-logo
				a(href="../index.html")
					img.logo-image(src="../img/guia-turistica-big.png", alt="Imagen-Logo")
			div.header-centro
				div.banner
					img(src="../img/banner-publi.jpg", alt="Banner-Publicitario")
				div.navegador
					nav
						ul.nav-ul
							li.first-li-nav
								a(href="../index.html")
									span.icon-home3
							li
								a(href="") Claves LADA
							li
								a(href="") Códigos Postales
							li
								a(href="") Mapas
							li
								a(href="") Traza tu ruta
							li
								a(href="") Visas y embajadas
							li.last-li-nav
								input(type="text", placeholder="Buscar")
								span.icon-search

			div.viajes-logo
				img(src="../img/viajes-b.png", alt="")






	script.
		Polymer({ is: "header-polymer" });