link(rel="import", href="../bower_components/polymer/polymer.html")
link(rel="stylesheet", href="../css/style.css")
dom-module(id="header-min-polymer")
	template
		header.header-min

			div.div-top
				div.div-logo
					a(href="../index.html")
						img.logo-image(src="../img/guia-turistica-big.png", alt="Imagen-Logo")
				div.div-banner
					img(src="../img/banner-publi.jpg", alt="Banner-Publicitario")

			div.div-bottom
				div.div-nav
					nav
						ul.nav-ul
							li.first-li-nav
								a(href="../index.html")
									span.icon-home3
							li
								a(href="") Hola como estas
							li
								a(href="") Códigos Postales
							li
								a(href="") Mapas
							li
								a(href="") Traza tu ruta
							li
								a(href="") Visas y embajadas
							li.last-li-nav
								input(type="text", placeholder="Buscar")
									span.icon-search
				div.div-link
					a(href="") www.ViajesBojorquez.com

	script.
		Polymer({ is: "header-min-polymer" });