link(rel="import", href="../bower_components/polymer/polymer.html")
link(rel="stylesheet", href="../css/style.css")
dom-module(id="tabla-estado")
  template
    table.normal
      tbody
        tr
          td(colspan='2', align='center', valign='middle', bgcolor='#D0DAEA')
            b.titulo Estado de Tlaxcala
         
        tr
          td(colspan='2', align='center', valign='middle', bgcolor='#D0DAEA')
            div(align='center')
              img(src='../img/tla.jpg', height='175', hspace='0', vspace='2',class="imagen-mapa-estado")
         
        tr
          td(colspan='2', bgcolor='#596E93', style='color:#fff')
            b Municipios:
         
        tr
          td(colspan='2', bgcolor='#D0DAEA')
            table.resto(border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    b
                      a(href='') Tlaxcala capital del estado
                   
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    a(href='') Santa Apolonia Teacalco
                   
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    a(href='') San Juan Huactzinco
                   
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    a(href='') Lázaro Cárdenas
                   
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    a(href='') Santa Isabel Xiloxoxtla
                   
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    a(href='') Santa Cruz Quilehtla
                   
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    a(href='') Santa Catarina Ayometla
                   
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    a(href='') Santa Ana Nopalucan
                   
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    a(href='') San Lucas Tecopilco
                   
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    a(href='') San Lorenzo Axocomanitla
                   
                tr
                  td
                    img(src='../img/bull_cham.gif')
                     
                  td
                    a(href='') San José Teacalco
                   
                tr
                  td
                  td
                    b
                      a(href='') Ver Todos...
                             
                tr
                  td(height='1', bgcolor='#B4122D')
                 
                tr
                  td(bgcolor='#D0DAEA', colspan='2')
                     fuentes 
                    a.normal(href='http://www.inegi.gob.mx', title='Instituto Nacional de Estadística Geografía e Informática') INEGI
                      
                    a.normal(href='http://es.wikipedia.org', title='Wikipedia', target='_blank') Wikipedia
                      
                    a.normal(href='http://wwp.GreenwichMeanTime.com', title='Hora Media de Greenwich', target='_blank') GMT
                      
                    a.normal(href='http://www.sct.gob.mx/', target='_blank') SCT
         
        tr
          td(bgcolor='#D0DAEA') Capital
          td(gcolor='#D0DAEA')
            b
              a(href='') Tlaxcala
         
        tr
          td(bgcolor='#D0DAEA') Coord.
           
          td(bgcolor='#D0DAEA')

        tr
          td(bgcolor='#D0DAEA')
            a(href='municipios.php?id_e=29')
              b
                 Municipios
           
          td(bgcolor='#D0DAEA') 060
         
        tr
          td(bgcolor='#D0DAEA') Mayor Ciudad
           
          td(bgcolor='#D0DAEA')
            b
               Vicente Guerrero
         
        tr
          td(bgcolor='#D0DAEA')
            b Huso Horario
           
          td(bgcolor='#D0DAEA') -6
         
        tr
          td(bgcolor='#D0DAEA') Verano
           
          td(bgcolor='#D0DAEA') -5
         
        tr
          td(bgcolor='#D0DAEA') Abrev.
           
          td(bgcolor='#D0DAEA') Tlax. 
         
        tr
          td(colspan='2', bgcolor='#596E93', style='color:#fff')
            b Más Herramientas:
           
        tr
          td(height='1', colspan='2', bgcolor='#B4122D')
           
        tr
          td(colspan='2', bgcolor='#596E93', style='color:#fff')
            b Clima
           
        tr
          td(colspan='2', bgcolor='#D0DAEA')
            div(align='"center"', id='"wx_module_2702"')
              a(href='"http://www.weather.com/weather/local/MXTA0108"') Tlaxcala Weather Forecast, Mexico
         
        tr
          td(height='1', colspan='2', bgcolor='#B4122D')
         
        tr
          td(colspan='2', bgcolor='#596E93', style='color:#fff')
            strong Superficie
         
        tr
          td(bgcolor='#D0DAEA') Total
           
          td(bgcolor='#D0DAEA') 4 016km sup 2
         
        tr
          td(colspan='2', bgcolor='#D0DAEA') 31 en la República
         
        tr
          td(height='1', colspan='2', bgcolor='#B4122D')
         
        tr
          td(colspan='2', bgcolor='#596E93', style='color:#fff')
            strong Población (resultados del censo de 2010)
         
        tr
          td(bgcolor='#D0DAEA') Total
           
          td(bgcolor='#D0DAEA') 1 169 825
         
        tr
          td(colspan='2', bgcolor='#D0DAEA') 27 en la República
         
        tr
          td(bgcolor='#D0DAEA') Gentilicio
           
          td(bgcolor='#D0DAEA') Tlaxcalteca
         
        tr
          td(height='1', colspan='2', bgcolor='#B4122D')
                             
        tr
          td(height='37', colspan='2', bgcolor='#ACC2F0')
            div(align='center')
              b Claves Larga Distancia Nacional
              br
               
              a(href='ld.php?edo_id=29&edo_nom=Tlaxcala')
                b en Estado de Tlaxcala
         
        tr
          td(height='37', colspan='2', bgcolor='#9cafd4')
            div(align='center')
              b
                a(href='mapas.php?id=29&n=Tlaxcala', target='_self') Mapa del Estado
         
        tr
          td(height='37', colspan='2', bgcolor='#ACC2F0')
            div(align='center')
              b
                 Carreteras de México
         
        tr
          td(height='37', colspan='2', bgcolor='#9cafd4')
            div(align='center')
              a(href='http://www.myspace.com/guiaturisticamexico')
                strong MySpace/GuiaTuristicaMexico
         
        tr
          td(height='37', colspan='2', bgcolor='#ACC2F0')
            div(align='center')
              a(href='http://youtube.com/user/guiaturisticamexico', target='_blank')
                strong  YouTube.com/GuiaTuristicaMexico
         
        tr
          td(height='37', colspan='2', bgcolor='#9cafd4')
              a(href='http://www.addthis.com/bookmark.php?v=250&pubid=jorgegarza')
                span(style='background-color: rgb(252, 109, 76);') Contarle a todos:   
        tr
          td(height='1', colspan='2', bgcolor='#ACC2F0')
         
        tr
          td(colspan='2', bgcolor='#596E93', style='color:#fff')
            b Información Valiosa
         
        tr
          td(colspan='2', bgcolor='#D0DAEA')
            a.anunciados(href='embajadas_extranjeras.php')
              b Embajadas Extranjeras
            br
            a.anunciados(href='embajadas_de_mexico.php')
              b Embajadas de México
         
        tr
          td(height='1', colspan='2', bgcolor='#B4122D')
         
        tr
          td(colspan='2', bgcolor='#596E93', style='color:#fff')
            b Servicios Turísticos 
         
        tr
          td(colspan='2', bgcolor='#93B1EF')
            br
               
            table(border='0', cellpadding='2', cellspacing='0')
              tbody
                tr
                  td(class="td-imagen")
                    img(src='../img/bull_cham.gif' , height='20')
                   
                  td
                    span.blanca Hoteles, Hostales, Bungalows, Alojamiento.
                 
                tr
                  td(class="td-imagen")
                    img(src='../img/bull_cham.gif')
                   
                  td
                    span.blanca Transporte, Autobús, Camioneta, Autos en renta.
                 
                tr
                  td(class="td-imagen")
                    img(src='../img/bull_cham.gif')
                   
                  td
                    span.blanca Balnearios-SPA, Deportes Acuáticos, Clínicas de Belleza, Centros Naturistas, Aromaterapia.                 
                tr
                  td(class="td-imagen")
                    img(src='../img/bull_cham.gif')
                   
                  td
                    span.blanca
                       Deportes al Aire Libre, Golf, Gotcha, Buceo, Bungee, Paracaidismo, Globo Aerostático, Equitació;n, Canotaje.
                 
                tr
                  td(class="td-imagen")
                    img(src='../img/bull_cham.gif')
                   
                  td
                    span.blanca Compras, Duty Tax Free, Artículos de Viaje, Centros Comerciales.
                 
                tr
                  td(class="td-imagen")
                    img(src='../img/bull_cham.gif')
                   
                  td
                    a(href='b.php?a=l&c=cultu&e=29&en=Tlaxcala')
                      b Turismo Cultural, Cine-clubes, Museos, Zonas Arqueológicas, Centros Culturales (15)
                 
                tr
                  td(class="td-imagen")
                    img(src='../img/bull_cham.gif', height='20')
                   
                  td
                    span.blanca , Dentistas, Urgencias, Farmacias, Medicinas.
                 
                tr
                  td(class="td-imagen")
                    img(src='../img/bull_cham.gif', height='20')
                   
                  td
                    span.blanca Bares, Antros, Chelerías. 
                 
                tr
                  td(class="td-imagen")
                    img(src='../img/bull_cham.gif', height='20')
                   
                  td
                    span.blanca Bancos, Centros Cambiarios, Divisas.
                 
                tr
                  td(class="td-imagen")
                    img(src='../img/bull_cham.gif', height='20')
                   
                  td
                    span.blanca Escuelas, Idiomas, Centros de Intercambio.
               
          
        tr
          td(height='2', colspan='2', bgcolor='#B4122D')
script.
    Polymer({ is: "tabla-estado" });
